extends layout

block content
  div.valign-wrapper.green
    div.container
      div.row.center
        div.col.s12.card-panel
          h2 Welcome #{user.user_name} &nbsp;
            i.mdi-action-account-circle.amber-text.accent-3
      div.row.center
        div.card-panel.col.s12
          h3.grey-text.text-darken-4 Your Comments
          div.container
              ul.row.all-comments
                each entry in comments
                  if entry.software == null
                    li.card.col.offset-s1.s10.review
                      div.card-content.grey.lighten-1
                        span.card-title.black-text None
                          i.left.mdi-hardware-keyboard-control
                      div.card-action.grey.lighten-2
                        p.flow-text(style='text-align:left') There are no comments for this user. :(
                  else if entry.rank == "-1"
                    li.card.col.s12.review(comment-data="#{entry.com_id}")
                      div.card-content.red.lighten-1
                        div.card-title
                          a.amber-text.text-accent-3(style="font-weight:700",href = "/software/#{entry.link}") #{entry.software}
                          i.left.mdi-notification-do-not-disturb.black-text
                          p.right.score
                            b.black-text #{entry.score}
                          if entry.voted == 1
                              a.right.btn-floating.waves-effect.blue.darken-2.vote.voted.up.z-depth-1
                                i.mdi-hardware-keyboard-arrow-up.blue-text.text-accent-1
                              a.right.btn-floating.waves-effect.red.darken-3.vote.down.z-depth-1
                                  i.mdi-hardware-keyboard-arrow-down
                          else if entry.voted == -1
                              a.right.btn-floating.waves-effect.blue.darken-2.vote.up.z-depth-1
                                  i.mdi-hardware-keyboard-arrow-up
                              a.right.btn-floating.waves-effect.red.darken-3.vote.voted.down.z-depth-1
                                  i.mdi-hardware-keyboard-arrow-down.red-text.text-accent-1
                          else
                              a.right.btn-floating.waves-effect.blue.darken-2.vote.up.z-depth-1
                                  i.mdi-hardware-keyboard-arrow-up
                              a.right.btn-floating.waves-effect.red.darken-3.vote.down.z-depth-1
                                  i.mdi-hardware-keyboard-arrow-down
                      div.card-action.red.lighten-4
                        p.flow-text(style='text-align:left') #{entry.text}
                  else
                    li.card.col.s12.review(comment-data="#{entry.com_id}")
                      div.card-content.blue.lighten-1
                        div.card-title
                          a.amber-text.text-accent-4(style="font-weight:700",href = "/software/#{entry.link}") #{entry.software}
                          i.left.mdi-navigation-check.black-text
                          p.right.score
                            b.black-text #{entry.score}
                          if entry.voted == 1
                                a.right.btn-floating.waves-effect.blue.darken-2.vote.voted.up.z-depth-1
                                  i.mdi-hardware-keyboard-arrow-up.blue-text.text-accent-1
                                a.right.btn-floating.waves-effect.red.darken-3.vote.down.z-depth-1
                                  i.mdi-hardware-keyboard-arrow-down
                              else if entry.voted == -1
                                a.right.btn-floating.waves-effect.blue.darken-2.vote.up.z-depth-1
                                  i.mdi-hardware-keyboard-arrow-up
                                a.right.btn-floating.waves-effect.red.darken-3.vote.voted.down.z-depth-1
                                  i.mdi-hardware-keyboard-arrow-down.red-text.text-accent-1
                              else
                                a.right.btn-floating.waves-effect.blue.darken-2.vote.up.z-depth-1
                                  i.mdi-hardware-keyboard-arrow-up
                                a.right.btn-floating.waves-effect.red.darken-3.vote.down.z-depth-1
                                  i.mdi-hardware-keyboard-arrow-down  
                      div.card-action.blue.lighten-4
                        p.flow-text(style='text-align:left') #{entry.text}
